# prompt: https://adventofcode.com/<YEAR>/day/<DAY>

from ...base import BaseSolution, InputTypes
# from typing import Tuple

class Solution(BaseSolution):
    year = <YEAR>
    number = <DAY>
    # input_type = InputTypes.

    def part_1(self) -> int:
        pass

    def part_2(self) -> int:
        pass

#   def solve(self) -> Tuple[int, int]:
#       pass
