# prompt: https://adventofcode.com/<YEAR>/day/<DAY>

from ...base import TextSolution
# from typing import Tuple

class Solution(TextSolution):
    _year = <YEAR>
    _number = <DAY>

    def part_1(self) -> int:
        pass

    def part_2(self) -> int:
        pass

    # def solve(self) -> Tuple[int, int]:
    #     pass
