# prompt: https://adventofcode.com/<YEAR>/day/<DAY>

from ...base import StrSplitSolution, answer


class Solution(StrSplitSolution):
    _year = <YEAR>
    _day = <DAY>

    # @answer(1234)
    def part_1(self) -> int:
        pass

    # @answer(1234)
    def part_2(self) -> int:
        pass

    # @answer((1234, 4567))
    # def solve(self) -> tuple[int, int]:
    #     pass
