# prompt: https://adventofcode.com/<YEAR>/day/<DAY>

from ...base import BaseSolution, InputTypes


class Solution(BaseSolution):
    year = <YEAR>
    number = <DAY>
    # input_type = InputTypes.

    def part_1(self):
        pass

    def part_2(self):
        pass

    def solve(self):
        pass
