# prompt: https://adventofcode.com/<YEAR>/day/<DAY>

from ...base import BaseSolution, InputTypes


class Solution(BaseSolution):
    @property
    def year(self):
        return <YEAR>

    @property
    def number(self):
        return <DAY>

    # @property
    # def input_type(self):
    #     return InputTypes.TEXT

    def part_1(self):
        pass

    def part_2(self):
        pass

    def solve(self):
        pass
