---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <pre>
.
├── <a href="/about">About</a>
└── <a href="/writeups">writeups</a>
    ├── <a href="/writeups/2022">2022</a>
    ├── 2021
    └── 2020
    </pre>
  </main>
</Layout>
