---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>David's Advent of Code Solutions</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod nihil
      voluptates cum enim, doloremque at totam placeat fuga, quas quisquam
      labore alias quibusdam. Molestiae nam a inventore laborum fugiat sed!
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
