---
import Layout from "../layouts/Layout.astro";
import { Content as WelcomeContent } from "../components/Welcome.md";
import { Content as AboutContent } from "../components/About.md";

import { getWriteupsByYear } from "../utils/collections";

const NUM_RECENT_POSTS = 3;

const posts = await getWriteupsByYear();

const recentYears = [...posts.keys()]
  .toSorted((a, b) => b - a)
  .slice(0, NUM_RECENT_POSTS);
const thisYearsPosts = posts.get(recentYears[0]);
const showEllipse = Number(thisYearsPosts?.length) > NUM_RECENT_POSTS;
const newestPosts = thisYearsPosts?.toSorted((a,b) => a.data.day - b.data.day).slice(-NUM_RECENT_POSTS);
---

<Layout>
  <WelcomeContent />
  <pre>~
└── <a href="/writeups">writeups</a>
{recentYears.map((year, index) => (
  <>
    {"    ├── "}
    <a href={`/writeups/${year}`}>{year}</a><br />{
      index === 0 &&
      (
        <>
        {showEllipse && <div>{"    |   ├── ..."}</div> }
        {newestPosts?.map((post, postIndex) => (
          <>
            {postIndex === newestPosts.length-1 ? "    |   └── " : "    |   ├── "}
            <a href={`/writeups/${post.slug}`}>Day {post.data.day}</a></>
          <br />
        ))}
        </>
      )
    }
  </>
))}{"    └── ..."}</pre>
  <AboutContent />
</Layout>
