---
import "water.css/out/water.min.css";

import Breadcrumbs from "../components/Breadcrumbs.astro";
import { pathToBreadcrumbs } from "../utils/pathTools";

interface Props {
  title: string;
}

// url is only available when this layout is used for markdown
const { title, url } = Astro.props as Astro["props"] & { url?: string };

const { page, path } = pathToBreadcrumbs(url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <h2>
      <a href="/">@xavdid does Advent of Code</a>
    </h2>

    <hr />

    <main>
      <!-- this only renders on pure markdown pages -->
      {page && <Breadcrumbs page={page} path={path} />}
      <slot />
    </main>
  </body>
</html>

<style>
  h2 {
    margin: 0;
    text-align: center;
    /* text-decoration: underline; */
  }
</style>

<!-- code blocks! global so it affects all rendered children -->
<style is:global>
  pre {
    padding: 1em;
    border-radius: 5px;
    border: 0.5px solid white;
  }
  pre > code {
    /* defer to shiki for styling */
    all: unset;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
