---
import "water.css/out/water.min.css";

import Breadcrumbs from "../components/Breadcrumbs.astro";
import { pathToBreadcrumbs } from "../utils/pathTools";

interface Props {
  title: string;
}

// url is only available when this layout is used for markdown
const { title, url } = Astro.props as Astro["props"] & { url?: string };

const { page, path } = pathToBreadcrumbs(url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      data-goatcounter="https://advent-of-code.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h2 class="title">
        <a href="/">@xavdid does Advent of Code</a>
      </h2>
    </header>

    <main>
      <!-- this only renders on pure markdown pages -->
      {page && <Breadcrumbs page={page} path={path} />}
      <slot />
    </main>

    <footer>
      Solutions and website by <a href="https://xavd.id">David Brownman</a>.
      Puzzles by <a href="https://adventofcode.com">Advent of Code</a>. Posts in
      <a href="/feed.xml">RSS</a>. Code on <a
        href="https://github.com/xavdid/advent-of-code/tree/main/blog">GitHub</a
      >; feel free to report any typos!
    </footer>
  </body>
</html>

<style>
  h2 {
    margin: 0;
    text-align: center;
    /* text-decoration: underline; */
  }
</style>

<!-- global so it affects all rendered children, including markdown -->
<style is:global>
  pre {
    padding: 1em;
    border-radius: 5px;
    border: 0.5px solid white;
  }
  pre > code {
    /* defer to shiki for styling */
    all: unset;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  main {
    h2 {
      border-bottom: 1px solid var(--border);
    }

    h3:before {
      content: "› ";
    }

    h2 > a,
    h3 > a {
      color: var(--text-main);
      /* text-decoration: underline; */

      &:hover {
        border-bottom: 1px solid var(--text-main);
      }
    }
  }
</style>
